
{% extends 'base.html' %}
{% block content %}
<div class="content-wrapper">
    <h1>Welcome to the Homepage</h1>
    <p>You are now logged in!</p>
</div>

<form action="{% url 'login_page' %}" method="get">
    {% csrf_token %}
    <input type="submit" value="Logout" class="logout-button">
</form>

<div class="csv-import-form">
    <form action="{% url 'import_csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="submit" value="Import CSV">
    </form>
</div>
<form action="{% url 'serie_de_question' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Series of Questions">
</form>


{% endblock %}


